@inherits LayoutComponentBase

<head>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>

<PageTitle>Blazor pizza</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
