<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid" style="display: flex; margin-left: 25%; marghin-right: 25%">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position: center">


            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item">
                    <a class="" href="">Home</a>
                </li>  

                <li class="nav-item">
                    <a class="" href="contactus">Contact us</a>
                </li>

                <li class="nav-item">
                    <a class="" href="aboutus">About us</a>
                </li>

                <li class="nav-item">
                    <a class="" href="basket">Basket</a>
                </li>

            </ul>

            
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
